<header>
  <vet-navbar></vet-navbar>
</header>
<div class="container">
  <p class="medium-text">{{client.name}}</p>
  <div class="row">
    <img class="col s3 m2" src="assets/img/no-photo.png" />
    <div class="col s9 m9">
      <span class="attribute"><span class="attribute-name">Teléfono:</span> {{client.phone}}</span>
      <span class="attribute"><span class="attribute-name">Celular:</span> {{client.cellphone}}</span>
      <span class="attribute"><span class="attribute-name">Dirección:</span> {{client.address}}</span>
      <span class="attribute"><span class="attribute-name">Correo:</span> {{client.email}}</span>
      <span class="attribute"><span class="attribute-name">Carnet:</span> {{client.identityCard}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col s10 m5 l4 xl3" *ngFor="let pet of pets$ | async">
      <div class="card center-align">
        <div class="card-image">
          <img [src]="pet.photo" height="250px">
          <span class="card-title">{{pet.name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light green" [routerLink]="['/pet-clinical-records', pet.id]"><i
              class="material-icons">arrow_downward</i></a>
        </div>
        <div class="card-content">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="white-space">
  <a class="btn-floating btn-large waves-effect waves-light btn-red add-btn modal-trigger" href="#modal2"><i class="material-icons">add</i></a>
</div>

<!-- MODAL TO REGISTER NEW PET -->
<div id="modal2" class="modal modal-fixed-footer green">
  <div class="modal-content">
    <h4 class="white-text">Añadir nueva mascota</h4>
    <div class="row">
      <div class="center-align">
        <i class="material-icons prefix add-photo">add_a_photo</i>
      </div>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="name" name="name" type="text" class="validate" required [(ngModel)]="newPet.name">
            <label for="name">Nombre</label>
          </div>
          <div class="input-field col s12">
            <input id="age" name="age" type="text" class="validate" required [(ngModel)]="newPet.age">
            <label for="age">Edad</label>
          </div>
          <div class="input-field col s12">
            <input id="race" name="race" type="text" class="validate" required [(ngModel)]="newPet.race">
            <label for="race">Raza</label>
          </div>
          <div class="input-field col s12">
            <input id="weight" name="weight" type="text" class="validate" required [(ngModel)]="newPet.weight">
            <label for="weight">Peso</label>
          </div>
          <div class="input-field col s12">
              <input id="description" name="description" type="text" class="validate" required [(ngModel)]="newPet.description">
              <label for="description">Descripción</label>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="addNewPet()">Añadir</a>
  </div>
</div>
