#user-name-mobile {
    text-align: center;
}

#user-name {
  right: -12%;
  position: absolute;
}

#user-name label {
  color: #aaff41;
  font-style: italic;
  font-size: 18px;
  border-left: 1px dashed #ccc;
  padding-left: 10px;
}

#user-name-mobile label {
    color: #aaff41;
    font-style: italic;
    font-size: 18px;
    padding-left: 10px;
    border-bottom: 1px dashed #ccc;
  }

  #nav-mobile li a{
    color: white;
  }
