<div class="navbar-fixed">
    <nav class="main-color" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#about" class="brand-logo">
          <img alt="Cachochos" height="98px" src="assets/img/cat3.png" width="107px" style="margin-top: -25%">
        </a>
        <a data-target="nav-mobile" class="sidenav-trigger main-color"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="main-color"  routerLink="/clients">Clientes</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <ul id="nav-mobile" class="sidenav">
    <li><a  routerLink="/clients" class="sidenav-close main-color">Clientes</a></li>
  </ul>