<div class="navbar-fixed">
  <nav class="main-color" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" routerLink="/clients" class="brand-logo">
        <img alt="Cachochos" height="80px" src="assets/img/cat3.png" style="margin-top: -12%">
      </a>
      <a data-target="nav-mobile" class="sidenav-trigger main-color"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="currentUser.isAdmin"><a class="main-color" routerLink="/clients">Clientes</a></li>
        <li *ngIf="currentUser.isAdmin"><a class="main-color" routerLink="/pet-list">Mascotas</a></li>
        <li><a class="main-color" routerLink="/reserves">Reservas</a></li>
        <li *ngIf="currentUser.isAdmin"><a class="main-color" routerLink="/reserve-list">Lista de reservas</a></li>
        <li><a class="main-color" (click)="auth.logout()">Cerrar Sesión</a></li>
        <li id="user-name"><label>{{ loggedUserName }}</label></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="nav-mobile" class="sidenav">
  <li id="user-name-mobile" class="main-color"><label>{{ loggedUserName }}</label></li>
  <li *ngIf="currentUser.isAdmin"><a routerLink="/clients" class="sidenav-close main-color">Clientes</a></li>
  <li *ngIf="currentUser.isAdmin"><a class="main-color" routerLink="/pet-list">Mascotas</a></li>
  <li><a routerLink="/reserves" class="sidenav-close main-color">Reservas</a></li>
  <li *ngIf="currentUser.isAdmin"><a class="main-color" routerLink="/reserve-list">Lista de reservas</a></li>
  <li><a class="main-color" (click)="auth.logout()">Cerrar Sesión</a></li>
</ul>
