<header>
  <vet-navbar></vet-navbar>
</header>
<div class="container">
  <p class="medium-text">Lista de reservas</p>
  <div id="reserve-filter" class="row">
    <div id="client-searcher" class="input-field col s12 m6 l6 xl6">
      <i class="material-icons prefix">search</i>
      <input id="search" type="text" placeholder="Escriba el nombre del cliente" class="validate">
      <label for="search"></label>
    </div>
    <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">event</i>
        <input id="reserve-date" type="text" class="datepicker">
        <label for="reserve-date">Filtrar por fecha</label>
      </div>
  </div>
  <table class="">
    <thead>
      <tr>
        <th>Reservado por</th>
        <th>Nombre del cliente</th>
        <th>Fecha de reserva</th>
        <th class="hide-on-small-only">Tipo de servicio</th>
        <th>Veterinario</th>
        <th class="hide-on-small-only">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserve of reserveList">
        <td>{{reserve.reserveUser}}</td>
        <td>{{reserve.clientName}}</td>
        <td>{{reserve.reserveDate}}</td>
        <td class="hide-on-small-only">{{reserve.serviceType}}</td>
        <td>{{reserve.veterinary}}</td>
        <td>
          <button class="waves-effect waves-light btn-small green" type="submit" name="action">{{reserve.reserveState}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
