<header>
  <vet-navbar></vet-navbar>
</header>
<div class="container" id="reserve-container">
  <p class="medium-text">Reservas</p>
  <div class="row">
    <form #selectDate="ngForm" class="col s12 m10 l10">
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">event</i>
          <input id="reserve-date" type="text" class="datepicker">
          <label for="reserve-date">Fecha de reserva</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">pets</i>
          <select [(ngModel)]="serviceType" name="service-type">
            <option value="" disabled selected>Elije el servicio</option>
            <option value="Corte de pelo">Corte de pelo</option>
            <option value="Vacunación">Vacunación</option>
            <option value="Cirugía">Cirugía</option>
            <option value="Esterilización">Esterilización</option>
            <option value="Consulta general">Consulta general</option>
          </select>
          <label>Servicio</label>
        </div>
      </div>
    </form>
    <div class="col s12 m2 l2 search-btn">
      <button class="waves-effect waves-light btn-small btn-red" name="action" (click)="searchVets()" [disabled]="!this.reserve.date || !this.serviceType">Buscar
        <i class="material-icons left">search</i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col s10 m5 l4 xl5" *ngFor="let vet of vets">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" [src]="vet.photo">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ vet.name }}</span>
          <form #selectHour="ngForm" novalidate>
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">access_time</i>
                <select class="select-hours" [(ngModel)]="serviceHour" name="service-hours">
                  <option value="" disabled selected>Elije la hora</option>
                  <option *ngFor="let hour of vet.availableHours" [value]="hour">{{hour}}</option>
                </select>
                <label>Servicio</label>
              </div>
            </div>
            <div class="row">
              <div id="client-searcher" class="input-field col s12 m12 l12">
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" placeholder="Escriba el nombre" class="validate" name="reserve-user-name"
                  [(ngModel)]="vet.reserveUserName">
                <label for="search"></label>
              </div>
            </div>
          </form>
          <div class="center-align">
            <button class="waves-effect waves-light btn-small btn-red" name="action" (click)="bock(vet)" [disabled]="!vet.availableHours.length">Reservar</button>
          </div>
          <div class="center-align">
            <span class="red-text" *ngIf="!vet.availableHours.length">No hay horas disponibles</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
