#reserve-container .input-field input {
  color: black !important;
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 white !important;
}

#reserve-container .input-field label {
  color: #968e8e !important;
}

.search-btn {
  margin-top: 3%;
  text-align: center
}
