<header>
  <vet-navbar></vet-navbar>
</header>
<div class="container">
  <p class="medium-text">Lista de clientes</p>
  <div class="row">
    <form class="col s12 m8 l8 xl8">
      <div class="row">
        <div id="client-searcher" class="input-field col s12 m8 l8 xl8">
          <i class="material-icons prefix">search</i>
          <input id="search" type="text" placeholder="Escriba el nombre del cliente" class="validate">
          <label for="search"></label>
        </div>
      </div>
    </form>
  </div>
  <table class="">
    <thead>
      <tr>
        <th>Nombre</th>
        <th class="hide-on-small-only">Telefono</th>
        <th>Celular</th>
        <th class="hide-on-small-only">Dirección</th>
        <th class="hide-on-small-only">Correo</th>
        <th class="hide-on-small-only">Carnet</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients$">
        <td>{{client.name}}</td>
        <td class="hide-on-small-only">{{client.phone}}</td>
        <td>{{client.cellphone}}</td>
        <td class="hide-on-small-only">{{client.address}}</td>
        <td class="hide-on-small-only">{{client.email}}</td>
        <td class="hide-on-small-only">{{client.ci}}</td>
        <td>
          <button class="waves-effect waves-light btn-small green" (click)="checkUserProfile()" type="submit" name="action">Ver
            <i class="material-icons right">remove_red_eye</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="white-space">
  <a class="btn-floating btn-large waves-effect waves-light btn-red add-btn modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
</div>

<!-- CREATE NEW CLIENT MODAL -->
<div id="modal1" class="modal modal-fixed-footer green">
  <div class="modal-content">
    <h3>Añadir nuevo usuario</h3>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="full-name" name="full-name" type="text" class="validate" required [(ngModel)]="newClient.name">
            <label for="full-name">Nombre completo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="phone" name="phone" type="text" class="validate" required [(ngModel)]="newClient.phone">
            <label for="phone">Teléfono</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="cellphone" name="cellphone" type="text" class="validate" required [(ngModel)]="newClient.cellphone">
            <label for="cellphone">Celular</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="address" name="address" type="text" class="validate" required [(ngModel)]="newClient.address">
            <label for="address">Dirección</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="email" type="email" class="validate" required [(ngModel)]="newClient.email">
            <label for="email">Correo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="ci" name="ci" type="text" class="validate" required [(ngModel)]="newClient.ci">
            <label for="ci">Carnet</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="addClient()">Añadir</a>
  </div>
</div>
